@charset "UTF-8";

*{margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;}

header{background-color: black;
    color: white;
    font-variant: small-caps;
    height: 200px;
    text-align: center;}

header h1{padding-top: 50px;
    font-size: 2.5em;}

header p{padding-top: 20px;}

header a{font-weight: bold;
    font-size: 1.1em;
    color: white;
    text-decoration: none;}

a:hover{text-decoration: underline;}

section{padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 40px;}

section p{font-size: 1.2em;
    line-height: 2.3em;
    font-weight: bold;
    padding-bottom: 50px;}

section.imagem p{background-color: rgba(0, 0, 0, 0.596);
    width: 270px;
    color: white;
    padding: 10px;}

.normal{padding-top: 70px;
    padding-bottom: 20px;
    padding-left: 50px;}

#img01{background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.500);}

#img02{background-image: url(imagens/background002.jpg);
    background-size: cover;
    background-position: center right;
    background-attachment: fixed;
    box-shadow: inset 3px 3px 10px rgba(0, 0, 0, 0.500);}
